

 <a href="/tutorial" target="_blank"  >
   <button type="button"  class="absolute top-16 3xl:top-64 left-16 3xl:left-64 z-10 focus:outline-none text-white bg-gray-600 hover:bg-[#008BAA] focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-xl px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900 ">
     Ver tutorial
    </button>
  </a>


<div class="relative h-[100vh] w-full flex flex-col justify-center bg-green-500 items-center ">

    <h1 class="text-2xl font-bold text-white" >GENERADOR DE FIRMAS</h1>

  <div class="   w-[940px] py-6 flex flex-col justify-center gap-y-6 " >
   <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dr(a)</label>
            <input type="text" id="first_name" [(ngModel)]="nameDoc"  class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
    </div>
    <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CMP</label>
            <input type="text" id="first_name" [(ngModel)]="cmpDoc" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
    </div>
    <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RNE</label>
            <input type="text" id="first_name" [(ngModel)]="rneDoc" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
    </div>
     <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Especialidad</label>
            <input type="text" id="first_name" [(ngModel)]="espDoc" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
    </div>
     <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">FIRMA</label>
              <h2>Cargar y mostrar imagen</h2>
              <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </div>

  </div>


    <div class="w-full px-6 lg:px-16  flex justify-center" >
      <div class=" h-full  w-[1010px] p-6 bg-white" #contenidoParaCapturar>
            <div class="grid grid-cols-3-cols-custom " >

      
              @if(selectedImageUrl){
               <div class="border-r-[4px] mr-4 border-[#008BAA]">
                  <img [src]="selectedImageUrl" alt="Imagen cargada" class="w-[640px] h-56 h-56 " >
                </div>
                <!-- <div class="bg-gray-500 border-r-[4px]  border-[#008BAA] mr-4 " >
                  <img [src]="selectedImageUrl" alt="Imagen cargada" class=" h-56 h-56 " >
                </div> -->
              }@else{
                <div class="bg-gray-500 border-r-[4px]  border-[#008BAA] mr-4 " >
                  <div class=" bg-blue-200   border-r-[4px] border-[#008BAA]" ></div>
                </div>
              }


              <div class="flex flex-col justify-center   mr-4 h-56 items-center">
                <form class="w-full font-inter ">
                    <div class="relative w-full">
                        <input disabled type="text"  [value]="nameDoc"  class="block text-[28px] pt-3 pb-1.5  pe-0 w-full font-bold text-[#008BAA] bg-transparent border-0 border-b-[3px] border-[#008BAA] appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer text-[24px] font-bold"   placeholder="Dra. Depool Angulo Ines Maria." />
                        <label  class="absolute text-sm text-[#008BA] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"></label>
                    </div>
                    <div class="relative w-full">
                        <input disabled type="text"  [value]="cmpDoc" class="block  text-[24px] font-semibold pt-3 pb-1.5  pe-0 w-full  text-[#008BAA] bg-transparent border-0 border-b-[3px] border-[#008BAA] appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer text-[24px] font-bold"   placeholder="CMP. 71966" />
                        <label  class="absolute text-sm text-[#008BA] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"></label>
                    </div>
                    <div class="relative w-full">
                        <input disabled type="text"  [value]="rneDoc" class="block  pt-3 pb-1 text-[24px] font-semibold pb-1.5 pe-0 w-full  text-[#008BAA] bg-transparent border-0 border-b-[3px] border-[#008BAA] appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer text-[24px] font-bold"   placeholder="RNE. 41496" />
                        <label  class="absolute text-sm text-[#008BA] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"></label>
                    </div>
                    <div class="relative w-full">
                        <input disabled type="text"  [value]="espDoc"  class="block  pt-3 text-[20px] font-semibold pe-0 w-full  text-[#008BAA] bg-transparent border-0  appearance-none  text-[24px] "  />
                    </div>
                    
                </form>
              </div>

  
              <div class=" bg-blue-500 ">
                <img src="imgs/sign.png" alt="" class="" >
              </div>
             
            </div>
      </div>

      

      </div>


      @if(selectedImageUrl){ 
        <button  (click)="convertirAImagen()" type="button" class="mt-10 text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-2 mb-2">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FFFFFF"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M23 22C23 22.5523 22.5523 23 22 23H2C1.44772 23 1 22.5523 1 22C1 21.4477 1.44772 21 2 21H22C22.5523 21 23 21.4477 23 22Z" fill="#0FFFFFF"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3099 18.6881C12.5581 19.3396 11.4419 19.3396 10.6901 18.6881L5.87088 14.5114C4.47179 13.2988 5.32933 11 7.18074 11L9.00001 11V3C9.00001 1.89543 9.89544 1 11 1L13 1C14.1046 1 15 1.89543 15 3L15 11H16.8193C18.6707 11 19.5282 13.2988 18.1291 14.5114L13.3099 18.6881ZM11.3451 16.6091C11.7209 16.9348 12.2791 16.9348 12.6549 16.6091L16.8193 13H14.5C13.6716 13 13 12.3284 13 11.5V3L11 3V11.5C11 12.3284 10.3284 13 9.50001 13L7.18074 13L11.3451 16.6091Z" fill="#0FFFFFF"></path> </g></svg>
          Descargar Imagen
        </button>
      }

</div>  
